.hamb {
    width: 400px;
    height: 310px;
}

.project01 {
    margin-left: 40px;
    margin-top: 40px;
    display: inline-flex;
    border-radius: 15px;
    background: var(--nightBlack);
}

.project01 .texts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
}

.project01 p {
    color: var(--textColor);
    font-size: 14px;
    width: 400px;
}

.badges {
    display: flex;
    gap: 6px;
}

.badge-text {
    margin-top: 10px;
    color: white;
    font-size: 12px;
    background: #18181B;
    padding: 2px 8px 2px 8px;
    border-radius: 50px;
}

.link-projects {
    margin-left: 75%;
    margin-top: 22%;
    background: var(--color-theme);
    color: white;
    padding: 2px 12px;
    border-radius: 50px;
}



