.skills-languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testeesss {
  display: flex;
  flex-direction: column;
}

.languages {
  margin: 40px 20px;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: var(--metalBlack);
  padding: 14px 10px 8px 10px;
  border-radius: 10px;
}

.language {
  transition: 0.3s;
}

.language:hover {
  transform: translateY(-8px);
}

.language img {
  width: 47px;
  height: 45px;
}

@media (max-width: 986px) {
  .languages {
    margin: 40px 10px;
    padding: 14px 8px 8px 8px;
  }
}

@media (max-width: 955px) {
  .language img {
    width: 38px;
    height: 36px;
  }
}
@media (max-width: 849px) {
  .language img {
    width: 32px;
    height: 30px;
  }
}
@media (max-width: 779px) {
  .language img {
    width: 30px;
    height: 28px;
  }
  .languages {
    gap: 15px;
  }
}
@media (max-width: 704px) {
  .language img {
    width: 26px;
    height: 24px;
  }
  .languages {
    gap: 10px;
  }
}
@media (max-width: 699px) {
  .skills-languages {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .language img {
    width: 28px;
    height: 26px;
  }
  .languages {
    margin: 10px;
    gap: 12px;
  }
}
@media (max-width: 467px) {
  .language img {
    width: 25px;
    height: 23px;
  }
}