:root {
    --color-black: #000000;
    --color-background-gray: #111011;
    --color-background-black: #0F0E0F;
    --color-white: #ffffff;
    --color-red-theme: #a51c30;
    --color-text-navbar: #5C5C5C;
    --nightBlack: #212223;
    --textColor: #999999;
    --power__black: #18191A;
    --metalBlack: #2d2e2f;
    --greyBlack200: #333333;
    --color-rocketseat: #8257e5;
}