@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

* {
    font-family: 'Saira', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;

    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--power__black);
}

/* Coisas da Navbar */

.navbar i.fa-code {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.5em;
    color: var(--color-theme);
    user-select: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem .2rem 2rem;
}

.navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;

}

::-webkit-scrollbar {
    display: none;
    }

.navbar .links a {
    position: relative;
    display: flex;
    color: var(--color-text-navbar);
    align-items: center;
    transition: 200ms;
    margin: 0 15px;
}

.navbar .links a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--navbar-color);
    transform: scaleX(0);
    transition: transform 200ms;
    transform-origin: right;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar a:hover {
    color: var(--navbar-color);
}

.navbar .closeMobileMenu {
    display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
 stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Indicador Introdução */

.introducao {
    margin-top: 40px; 
    margin-left: 20px;
}

.introducao button {
   color: var(--color-white);
   padding: 7px 20px 7px 20px;
   background-color: var(--nightBlack);
   border: 1px solid var(--greyBlack200);
   border-radius: 32px;
   font-size: .75rem;
}

.introducao button i{
    color: var(--color-theme);
 }

 /* Divs Pai */

.daddy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.8rem;
    padding-left: 2rem;
}

.wrapper { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    padding: 0 3rem;
    padding-bottom: 1.5rem;
}

/* Perfil */

.gift-perfil {
    position: sticky;
    top: 5em;
    padding-top: 30px;
    background-color: var(--nightBlack);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.gift-perfil img {
    border: 8px solid var(--metalBlack);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    cursor: default;
}

.gift-perfil .perfil {
    text-align: center;
}

.perfil .name {
    padding-top: 20px;
    color: var(--color-white);
    font-size: 18px;
}

.type {
    position: sticky;
    display: flex;
    justify-content: center;
 }

 #typing-text {
    font-weight: 500;
    margin-top: .1em;
    position: fixed;
    color: var(--color-theme);
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-right: 2px solid;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing-animation 2s steps(20, end) infinite, blink-caret .25s step-end infinite;
}

.separador {
    margin-top: 28px;
}

.perfil .stack {
    color: var(--color-theme);
    font-size: 14;
    font-weight: 300;
}

.separator {
    width: 75%;
    height: 1px; /* Espessura da linha */
    background-color: var(--metalBlack); /* Cor da linha */
    margin: 20px 0px 0px 40px; /* Espaçamento acima e abaixo da linha */
}

.list {
    list-style: none;
}

.list .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.region {
    display: grid;
    gap: 20px;
    margin: 20px 20px;
    width: 260px;
    padding-left: 20px;
}

.region .place {
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.lugarb  {
    color: var(--textColor);
}

.lugari  {
    color: var(--textColor);
}

.lugarid  {
    color: var(--textColor);
}

.skills .text {
    color: var(--color-white);
    font-weight: 500;
    font-size: .875rem;
    border: 1px solid rgb(255, 0, 170255, 0, 0);
}


.conteudo-skills {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.skills {
    padding: 16px 24px 20px 30px;
    margin: 0px 12px 12px 12px;
    background-color: var(--metalBlack);
    border-radius: 15px;
}

.habilidades {
   padding-top: 20px; 
}

.habilidades span {
    font-size: 13px;
    color: #FFFFFFE6;
}

.redes {
    width: 50px;
    height: 50px;
    border: 2.5px solid var(--color-text-navbar);
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%; /* para tornar a div uma bolinha */
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 50px; /* para centralizar verticalmente o texto */
    transition: 0.3s;
  }

  .redes:hover {
    border: 2.5px solid var(--color-theme);
    transform: scale(1.02);
  }

.redes a {
    display: block;
    color: var(--textColor);
    text-decoration: none;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--color-theme);
}


/* Container Principal */

.container {
    width: 100%;
    height: 500px;
    background-color: var(--nightBlack);
    border-radius: 15px;
    display: flex;
    gap: 140px;
    padding: 0 20px;
}


#inicio h1 {
    font-weight: 600;
    font-size: 35px;
    padding-left: 20px;
    margin-top: 30px;
    color: var(--color-white);
}

#inicio h1 span {
    font-size: 36px;
    color: var(--color-theme);
    font-weight: 600;
}

.container h1 {
    font-size: 40px;
    margin-top: 25px;
    padding-left: 20px;
    font-weight: 200;
    color: var(--color-white);
}

.container h1 span {
    font-size: 45px;
    color: var(--color-theme);
    font-weight: 600;
}

.span-container-introduct {
    display: contents;
    color: var(--textColor);
}

.test {
    width: 655px;
    padding-top: 20px;
    padding-left: 20px;
}

.test .strong {
    color: var(--color-white);
    font-weight: 500;
}

.span-container {
    padding-top: 18px;
    padding-left: 20px;
}

.span-container span {
    color: var(--textColor);
}

.span-container span .strong {
    color: var(--color-white);
}

.span-container p {
    color: var(--textColor);
}

.span-container p .strong {
    color: var(--color-white);
}

.disp {
    padding-left: 20px;
}

.contratos {
    padding: 30px 0px 5px 20px;
}

.contratos span{
    color: var(--textColor);
}

.contratos i {
    color: #63E6BE;
}

.container .button-container {
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    transition: 0.3s ease;
}

.container .button-container a {
    background-color: var(--color-theme);
    color: var(--color-white);
    border: 0;
    font-weight: 500;
    font-size: 16px;
    padding: 18px 34px;
    border-radius: 45px;
}

.container .button-container:hover {
    transform: scale(1.04);
}


.text-timeline {
    padding-left: 20px;
    color: var(--textColor);
    width: 550px;
}

 .title {
    padding-top: 100px;
    text-align: center;
 }

 .title span { 
    font-weight: 200;
    color: var(--color-white);
    font-size: 36px;
 }

 .title h1 {
    font-weight: 600;
    color: var(--color-theme);
    font-size: 36px;
 }

 /* Formulario de Contato */

 .form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
 }

 #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
 }

 #form input {
    background: var(--metalBlack);
    color: var(--color-white);
    border-radius: 50px;
    border: none;
    padding: 10px 10px 10px 20px;
    width: 350px;
    height: 50px;
    outline: none;
 }

 #form input:hover {
    border: 1px solid var(--color-text-navbar);
 }


 #form textarea {
    background: var(--metalBlack);
    border-radius: 10px;
    width: 345px;
    height: 200px;
    padding: 15px;
    border: none;
    resize: none;
    color: var(--color-white);
    outline: none;
 }

 #form textarea:hover {
    border: 1px solid var(--color-text-navbar);
 }

 

 #form button {
    font-weight: 600;
    width: 340px;
    height: 50px;
    background: var(--metalBlack);
    border: none;
    border-radius: 50px;
    color: var(--textColor);
    cursor: pointer;
 }

 #form button:hover {
    border: 1px solid var(--color-theme);
    color: var(--color-theme);
 }

 /* Footer */

 .footer {
    padding-top: 20px;
 }

 .footer .text-footer {
    color: var(--textColor);
 }

 .footer a {
    color: var(--textColor);
 }

 .footer a:hover {
    color: var(--color-theme);
 }

.footer {
    width: 900px;
    text-align: center;
}


 @media (max-width: 986px) {

    .footer {
        /* width: 800px; */
        text-align: center;
    }
    
    .gift-perfil {
        width: 85%;
        top: 2em;
    }

    .type {
        display: none;
     }

    .separador {
        padding-left: 50px;
        padding-bottom: 20px;
    }

    .gift-perfil .region {
        display: contents;
        text-align: center;
    }

    .gift-perfil .list {
        padding-left: 25px;
    }

    .gift-perfil .lugarb {
        padding-right: 20px;
    }

    .gift-perfil .lugarid {
        padding-right: 20px;
    }

    .gift-perfil .lugari {
        padding-right: 20px;
    }

    .skills {
        margin-top: 20px;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: var(--color-background-gray);
        padding: 1.5rem;
        padding-top: 4rem;
        transform: translateX(150%);
        transition: 300ms ease;
        z-index: 9999;
    }

    .navbar .links.show {
        transform: translateX(0);
    }

    .navbar .links * {
        margin: 10px 0;
    }

    .navbar .links a {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid var(--greyBlack200);
    }

    .span-container {
        padding-bottom: 40px;
    }

    .navbar .links button {
        width: 100% !important;
    }

    .navbar .closeMobileMenu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
        font-size: 2em;
    }

    .button-container {
        margin-bottom: 40px;
    }


    .hamburger {
        display: block;
        z-index: 9999999;
      }

    .conteudo {
        align-items: center;
        flex-direction: column;
        padding: 1.5rem 0;
    }

    .wrapper {
        max-width: 100%;
        align-items: center;
        padding: 2rem;
        margin-top: 2rem;
        overflow: hidden;
    }

    .test {
        width: 500px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .gift-perfil {
        position: relative;
    }

    .container {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .timeline {
        margin: 50px auto;
    }
 }

 @media (max-width: 800px) { 
    .footer {
        width: 500px;
    }
 }

@media (max-width: 699px) { 
    .text-timeline {
        margin-bottom: 40px;
    }
 }

 @media (max-width: 625px) {
    .text-timeline {
        width: 350px;
        padding-top: 20px;
        padding-left: 20px;
    }
 }
 @media (max-width: 592px) {
    .test {
        width: 300px;
        padding-top: 20px;
        padding-left: 20px;
    }
 } 
 @media (max-width: 500px) {
    .footer {
        width: 270px;
    }
 }
 @media (max-width: 465px) {
    .text-timeline {
        max-width: 300px;
        padding-top: 20px;
        padding-left: 20px;
    }
    #form input {
        width: 300px;
     }

     #form textarea {
        width: 295px;
     }
     #form button {
        width: 300px;
     }
 }
 @media (max-width: 406px) {

    .separador {
        padding-right: 50px;
        padding-bottom: 20px;
    }

    .gift-perfil {
        width: 85%;
    }

    .gift-perfil .region {
        display: contents;
        text-align: center;
    }

    .gift-perfil .lugarb {
        padding-right: 20px;
    }

    .gift-perfil .lugarid {
        padding-right: 20px;
    }

    .gift-perfil .lugari {
        padding-right: 20px;
    }

    .text-timeline {
        padding-top: 20px;
        width: 250px;
    }

    .skills {
        margin-top: 20px;
    }

    #inicio h1 {
        text-align: start;
        font-weight: 600;
        font-size: 24px;
        padding-left: 20px;
        margin-top: 30px;
        color: var(--color-white);
    }
    
    #inicio h1 span {
        text-align: start;
        font-size: 24px;
        color: var(--color-theme);
        font-weight: 500;
        padding-right: 20px
    }

    .test {
        width: 250px;
        padding-top: 20px;
        padding-left: 20px;
    }

    #introduct {
        padding: 20px 40px 0px 20px;
    }

    .button-container {
        width: 280px;
    }

    .container .button-container a {
        font-size: 14px;
    }
}

@media (max-width: 360px) {

    .text-timeline {
        display: none;
    }
}



